/*
*Style and composition dump
*#847561 - bg Page color
*#94846E - Bg Header color
*#A89E8A - Bg Main color
*#675B4C - Bg Footer color
*
*#333333 - General text color
*#000000 - Link text color
*#789922 - Chan link color
*/

/*General stuff's style*/
body {
  margin: 0px;
  background-color:#847561;
  font-size:18px;
  line-height: 16px;
}
div.box
{
  background-color: #A89E8A;
  border: 5px solid #9D927B;
  border-radius: 20px;
  padding: 0px 20px;
}
h1 {
  font-size:23px;
}
p {
  color: #333333;
}
p img {
  width:13px;
  height:13px;
}
p img.DT_icon {
  width:40px;
  height:40px;
}
a {
  color: #000000;
  text-decoration: underline;
}
a.chan {
  color: #789922;
  text-decoration: none;
}
ul {
  list-style: none;
  line-height: 18px;
}

/*Header's style*/
header {
  width: 100%;
  height: 150px;
  background: linear-gradient(180deg,#94846E 100px, rgba(148, 132, 110, 0) 150px);
}
header div.headerContent {
  padding-top: 20px;
  width: 100px;
  padding-left: calc(50% - 1010px / 2);
}
header img.logo{
  width: 86px;
  height: 86px;
  border: 5px solid #9D927B;
  border-radius: 100%;
  float: left;
}
header div.box {
  margin-top: calc((86px - (10px + 18px) / 2) / 2);
  margin-right: calc(100% - 1050px);
  float: right;
  
  display: inline;
  padding: 15px 20px;
  background-color: #A89E8A;
  border: 5px solid #9D927B;
}

/*Main\body's style*/
main {
  width: 1000px;
  margin-left: calc(50% - 1010px / 2);
  background-color: #A89E8A;
  border: 5px solid #9D927B;
  border-radius: 50px;
  padding: 25px;
}

/*Footer's style*/
footer
{
  height: calc(100vh + 150px);
  padding-top: 70px;
  width: 100%;
  line-height: 5px;
  background: linear-gradient(180deg, #847561 0px, #675B4C 50px);
}
footer div.footerContent{
  padding-left: calc(50% - 1010px / 2);
  width: 1000px;
}
footer p {
  font-size:10px;
}
footer h1 {
  font-size:14px;
}
footer div.footer_array {
  display: inline;
  display: flex;
}
footer div.box {
  background-color: #756857;
  border: 5px solid #6D6050;
}