/*Vars*/
:root {
  --widthPc: 1010px;
  --widthMob: 300px;

  --colorBgBody: #847561;
  --colorBgHeader: #94846E;
  --colorBgMain: #A89E8A;
  --colorBgFooter: #675B4C;

  --colorBorder: #9D927B;

  --colorTextGeneral: #333333;
  --colorTextLink: #000000;
  --colorTextChan: #789922;
}

/*General stuff's style*/
body {
  margin: 0px;
  background-color: var(--colorBgBody);
  font-size:18px;
  line-height: 16px;
}
div.box
{
  border: 5px solid var(--colorBorder);
  border-radius: 20px;
  padding: 0px 20px;
}
h1 {
  font-size:23px;
}
p {
  color: var(--colorTextGeneral);
}
p img {
  width:13px;
  height:13px;
}
p img.DT_icon {
  width:40px;
  height:40px;
}
a {
  color: var(--colorTextLink);
  text-decoration: underline;
}
a.chan {
  color: var(--colorTextChan);
  text-decoration: none;
}
ul {
  list-style: none;
  line-height: 18px;
}

/*Header's style*/
header {
  height: 150px;
  background: linear-gradient(180deg, var(--colorBgHeader) 100px, var(--colorBgBody) 150px);
}
header div.headerContent {
  padding-top: 20px;
  padding-left: calc(50% - var(--widthPc) / 2);
}
header img.logo{
  float: left;

  width: 86px;
  height: 86px;
  border: 5px solid var(--colorBorder);
  border-radius: 50%;
}
header div.box {
  float: right;
  margin-top: calc(86px / 4);
  margin-right: calc(100% - (var(--widthPc) + 40px));
  
  padding: 15px 20px;
  background-color: var(--colorBgMain);
}

/*Main\body's style*/
main {
  width: var(--widthPc);
  margin-left: calc(50% - var(--widthPc) / 2);
  padding: 25px;

  background-color: var(--colorBgMain);

  border: 5px solid var(--colorBorder);
  border-radius: 50px;
}

/*Footer's style*/
footer
{
  height: 100vh;
  padding-top: 70px;
  line-height: 5px;
  background: linear-gradient(180deg, var(--colorBgBody) 0px, var(--colorBgFooter) 50px);
}
footer div.footerContent{
  padding-left: calc(50% - var(--widthPc) / 2);
  width: var(--widthPc);
}
footer p {
  font-size:10px;
}
footer h1 {
  font-size:14px;
}
footer div.footer_array {
  display: inline;
  display: flex;
}
footer div.box {
  background-color: #756857;
  border: 5px solid #6D6050;
}


@media (max-width:1020px) {
  body {
  line-height: 18px;
  }
  header div.headerContent {
    padding-left: calc(50% - var(--widthMob) / 2);
  }
  header div.box {
    margin-right: calc(100% - (var(--widthMob) + 40px));
  }
  main {
    width: var(--widthMob);
    margin-left: calc(50% - var(--widthMob) / 2);
  }
  footer div.footerContent{
    padding-left: calc(50% - var(--widthMob) / 2);
    width: var(--widthMob);
  }
  
footer div.box {
  line-height:10px;
}
}