body {
  background-color: rgb(170, 160, 140); /*set*/
  font-size:18px
}
p img.TextIGImg {
  width:13px;
  height:13px;
}
h1 {
  font-size:23px
}
a {
  color: rgb(0, 0, 0);/*a fucking zero*/
  text-decoration: none;
}
nav a.button {
  background-color: rgb(200, 190, 170); /*set (+30, +30, +30)*/
}
ol {
  background-color: rgb(200, 190, 170); /*set (+30, +30, +30)*/
  width: 940px;
  border: 5px solid rgb(180, 160, 140); /*set (+10, +0, +0)*/
  padding: 0px 30px;
}
ul {
  background-color: rgb(200, 190, 170); /*set (+30, +30, +30)*/
  width: 250px;
  border: 5px solid rgb(180, 160, 140); /*set (+10, +0, +0)*/
  padding: 0px 30px;
  list-style: none
}
div.box{
  background-color: rgb(200, 190, 170); /*set (+30, +30, +30)*/
  border: 5px solid rgb(180, 160, 140); /*set (+10, +0, +0)*/
  padding: 0px 20px;
}
div.left_right{
  display: flex;

}
div.left_right div.left{
  text-align: left;
  border: 1px solid black;
  
}

div.left_right div.right{
  border: 1px solid black;
  text-align: right;
}

footer {
  background-color: rgb(105, 105, 105);
}